{
  "extends": "@1stg/eslint-config/recommended",
  "rules": {
    "@typescript-eslint/unbound-method": 0
  },
  "overrides": [
    {
      "files": "*.ts",
      "rules": {
        "node/shebang": 0
      }
    }
  ]
}
